/* Background color of the web page */
body {
    background-color: rgba(204, 223, 197, 0.925);
    margin-left: 100px;
}

/* Header */
h1 {
    font-size: 50px;
    font-family: fantasy;
    color:rgb(55, 100, 13);
}

/* Header Two */
h2 {
    font-family: cursive;
    color:rgb(50, 87, 16);
}

/* Header Three */
h3 {
    font-style: italic;
    color:rgb(83, 134, 35);
}

/* Input text */
input[type=text] {
    width: 14%;
    padding: 5px;
    margin: 9px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 10px;
    outline:none;
    color: rgba(90, 43, 67, 0.884);
}

/* Submit button */
input[type=submit] {
    background-color: rgba(17, 49, 31, 0.884);
    width: 7%;
    color: white;
    padding: 8px 10px;
    margin: 6px 0;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    outline:none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}